{% extends 'layouts/base.html' %}

{% block content %}
<h1>Ciudades</h1>

<div>
  {% for ciudad in ciudades %}
  
  <article class="card">
    <a href="{% url 'ciudad_detalle' ciudad.id_ciudad %}">
      <h1>{{ciudad.nombre}}</h1>
    </a>
  
  {%if ciudad.activo == True %}
  <h1>✅ {{ciudad.activo}}</h1>
  {% else %}
  <h1>inactivo</h1>
  {% endif %}

 
  
  <button>
    actualizar
  </button>
  <button>
    ✅ Done
  </button>
</article>

  {% endfor %}
</div>

<!-- <p>
{{ ciudades}}
</p> -->


{% endblock %}