{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

{% load humanize %}


<br>
<br>
<div class="card">
  <div class="card-body">
    <br>
    <br>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-center">Bodegas</h2>
      <!-- Botón para crear ciudad -->
      <a href="{% url 'crear_bodega' %}"><button class="btn btn-success">Crear Bodega</button></a>
    </div>
    <hr>
    <table class="table table-striped table-hover table-responsive-sm text-center " id="datatableBodega">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Direccion</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="tableBody_bodega" >
        
      </tbody>
     
      </table>
    </div>
</div>


{% block extra_js %}
  <script src="{% static 'js/bodegas.js' %}"></script>

{% endblock %}

{% endblock %}


<!-- <tbody>
  {% for bodega in bodegas %}
  <tr>
    <th scope="col">{{bodega.id_bodega}}</th> -->
    <!-- <th scope="col">
      <a href="{% url 'bodega_detalle' bodega.id_bodega %}">
        <h3>{{bodega.nombre | capfirst }}</h3>
      </a></th> -->
      <!-- <th scope="col">
        {{bodega.nombre | capfirst }}
      </th>

      <th scope="col">
        {{bodega.id_ciudad | title}}
      </th>

      <th scope="col">
        {{bodega.direccion | title }}
      </th>
  
      {%if bodega.estado == True %}
      <th scope="col">✅ {{bodega.estado}}</th>
      {% else %}
      <th scope="col"> {{bodega.estado}}</th>
      {% endif %}

      <th scope="col"><a href="{% url 'modificar_bodega' bodega.id_bodega %}"> 

        <button class="btn btn-warning">
          Actualizar
        </button></a>
      </th> -->

      <!-- {%if ciudad.activo == True %}
      <h1>✅ {{ciudad.activo}}</h1>
      {% else %}
      <h1>inactivo</h1>
      {% endif %} -->

    <!-- </tr>
    {% endfor %}
  </tbody> -->