{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

{% load humanize %}

<br>
<br>
<div class="card">
  <div class="card-body">
    <br>
    <br>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-center">Bodegas</h2>
      <!-- Botón para crear ciudad -->
      <a href="{% url 'crear_bodega' %}"><button class="btn btn-success">Crear Bodega</button></a>
    </div>
    <hr>
    <table class="table table-striped table-hover table-responsive-sm text-center " id="datatableBodega">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Dirección</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="tableBody_bodega" >
        
      </tbody>
     
      </table>
    </div>
</div>

{% block extra_js %}
  <script src="{% static 'js/bodegas.js' %}"></script>

{% endblock %}

{% endblock %}