{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<h4>Resumen del proceso</h4>
<pre>{{ mensaje }}</pre>

{% if motivos_dict %}
  <h5>Empleados sin entrega o con novedades</h5>
  {% for motivo, empleados in motivos_dict.items %}
    <div class="card mb-3">
      <div class="card-header bg-light fw-bold">
        {{ motivo }} ({{ empleados|length }})
      </div>
      <ul class="list-group list-group-flush">
        {% for e in empleados %}
          <li class="list-group-item">
            {{ e.nombre }} - {{ e.cedula }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% else %}
  <div class="alert alert-success mt-3">
    ✅ Todos los empleados recibieron su entrega correctamente.
  </div>
{% endif %}


    <!-- Botón volver -->
    <div class="mt-3">
        <a href="{% url 'cargar_empleados' %}" class="btn btn-primary">
            🔄 Volver a carga de empleados
        </a>
    </div>
</div>
{% endblock %}