{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <br>
  <div class="row">
    <div class="col-12 col-md-12 offset-md-12">
      <br>
      <div class="card">
        <div class="cadr-body">
  <h2>Editar Grupo de Dotación</h2>
  <form method="post">
    {% csrf_token %}
    <div class="card mb-5">
     <div class="card-body">
  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.cargos.label_tag }} {{ form.cargos }}
      {% if form.cargos.errors %}
        <div class="text-danger">{{ form.cargos.errors }}</div>
      {% endif %}
    </div>

    <div class="col-md-6 mb-3">
      {{ form.cliente.label_tag }} {{ form.cliente }}
      {% if form.cliente.errors %}
        <div class="text-danger">{{ form.cliente.errors }}</div>
      {% endif %}
    </div>

    <div class="col-md-6 mb-3">
      {{ form.ciudades.label_tag }} {{ form.ciudades }}
      {% if form.ciudades.errors %}
        <div class="text-danger">{{ form.ciudades.errors }}</div>
      {% endif %}
    </div>

    <div class="col-md-6 mb-3">
      {{ form.genero.label_tag }} {{ form.genero }}
      {% if form.genero.errors %}
        <div class="text-danger">{{ form.genero.errors }}</div>
      {% endif %}
    </div>
  </div>
</div>
    </div>

    <h4 class="mt-4">Productos del Grupo</h4>
  <div id="formset-container" data-prefix="{{ formset.prefix }}">
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="formset-item border p-3 mb-2 bg-light rounded">
            {{ form.id }}  {# Esto es el hidden id #}
            {% for field in form.visible_fields %}
                <div class="mb-2">
                    {{ field.label_tag }} {{ field }}
                    {% if field.errors %}<div class="text-danger">{{ field.errors }}</div>{% endif %}
                </div>
            {% endfor %}
            <button type="button" class="btn btn-danger btn-sm remove-form">Quitar</button>
        </div>
    {% endfor %}
</div>

<!-- Botón para agregar -->
<button type="button" class="btn btn-outline-primary mb-3" id="add-form">Agregar otra categoría</button>
<div id="empty-form" style="display:none;">
    {{ formset.empty_form.as_p|escapejs }}
</div>
    <br>
    <button type="submit" class="btn btn-success">Guardar Grupo</button>
    <a href="{% url 'listar_grupos_dotacion' %}" class="btn btn-secondary">Cancelar</a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/grupo_dotacion.js' %}"></script>
<script>
document.getElementById("formset-container").dataset.emptyForm =
    document.getElementById("empty-form").innerHTML;
</script>
{% endblock %}