{% extends 'layouts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
  <br>
  <div class="row">
  
    <div class="col-12 col-md-4 offset-md-4">
      
      <div class="card">
        <div class="cadr-body">
          <h2 class="text-center">Editar Bodega</h2>
          <br>
          <form method="POST" class="bg-secondary p-4 align-items-center">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center mt-3"> 
              <a href="{% url 'bodegas' %}" class="btn btn-secondary">
                Volver
              </a>
              &nbsp;  
              <button class="btn btn-success" type="submit">Editar Bodega</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}

{% block extra_js %}
{{ form.media }}
{% endblock %}
