{% extends 'layouts/base.html' %}


{% block content %}

<br>
<br>
<br>

<main class="card">
    <div class="card-body">
        <h1 class="card-title">Almance Dotacion AT</h1>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nam dolore molestias quam voluptatibus. Voluptate provident a tempora velit, ex libero temporibus explicabo ratione corporis architecto inventore, et, officiis ad.
        </p>
        



    
    </div>
</main>

{% endblock %}
