{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

{% load humanize %}


<br>
<br>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-center">Órdenes Compra</h2>
      <!-- Botón para crear ciudad -->{% if request.user.rol == "admin" %}
     <a href="{% url 'crear_orden_compra' %}"><button class="btn btn-success">Crear Orden Compra</button></a>
{% endif %}
     
    </div>
    <hr>
    <table id="datatableOrdenCompra" class="table table-striped table-hover table-responsive-sm text-center">
      <thead class="thead-dark">
          <tr>
              <th>ID</th>
              <!-- <th>Tipo</th> -->
              <th>Proveedor</th>
              <th>Tipo Movimiento</th>
              <th>Total</th>
              <th>Estado</th>
              <th>Fecha</th>
              <th>Usuario</th>              
              <th>Acción</th>
          </tr>
      </thead>
      <tbody id="tableBody_ordenCompra">
          <!-- Aquí se cargan las filas dinámicamente -->
      </tbody>
  </table>
 
  </div>
</div>

{% block extra_js %}

<script src="{% static 'js/ordenCompra.js' %}"></script>

{% endblock %}

{% endblock %}