{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

{% load humanize %}

<br>
<br>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-center">Usuarios</h2>
      <!-- Botón para crear ciudad -->
      <a href="{% url 'crear_usuario' %}"><button class="btn btn-success">Crear Usuario</button></a>
    </div>
    <hr>
    <table class="table table-striped table-hover table-responsive-sm text-center " id="datatableUsuario">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre Usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Rol</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha Creacion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="tableBody_usuario"></tbody>
      </table>
    </div>
  </div>

{% block extra_js %}

<script src="{% static 'js/usuarios.js' %}"></script>

{% endblock %}

{% endblock %}
