{% extends 'layouts/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<div class="content-wrapper">

    <form method="post" id="formCompra" >
    {% csrf_token %}

    <section class="content-header">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <!-- <h3 class="mb-0">Orden de Compra #{{ orden.id }}</h3> -->
            </div>
            <div class="card-body text-dark">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label>Fecha Salida:</label>
                        <input class="form-control" type="text" value="{{ detalle_salida.fecha_creacion }}" readonly>
                    </div>
                  
                    <div class="col-md-6 mb-2">
                        <label>Cliente:</label>
                      <input class="form-control" type="text" value="{{ detalle_salida.cliente.nombre }}" readonly>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label>Ciudad Cliente:</label>
                      <input class="form-control" type="text" value="{{ detalle_salida.cliente.ciudad }}" readonly>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label>Estado:</label>
                     {% if detalle_salida.cliente.nombre == 'Atiempo SAS' %}
                            <input class="form-control" type="text" value="Traslado {{ detalle_salida.bodegaEntrada.nombre }}" readonly >
                            {% else %}
                            <input type="text" class="form-control" name="numFActura" value="Salida"  placeholder="" required>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label>ID Salida:</label>
<input class="form-control" type="text" value="{{ detalle_salida.id }}" readonly>
                                              
                    </div>
                    <div class="form-group col-md-6">
                        <label for="selectBodega">Bodega Salida:</label>
<input class="form-control" type="text" value="{{ detalle_salida.bodegaSalida.nombre }}" readonly>
                        
                    </div>
                    
                    <div class="col-md-12">
                        <label>Observaciones:</label>
                       <input type="text" class="form-control" value="{{ detalle_salida.observaciones }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="card">
        <h3>Productos en la Orden</h3>
      
            <table class="table table-bordered" style="color: black;" id="tablaProductos">
                <thead class="thead-dark">
                    <tr style="text-align: center;">
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th>Acción</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in items %}
      
                    <tr>
                        <td>
                            {{ item.producto.nombre }}
                            <input type="hidden" name="productos[]" value="{{ item.producto.id_producto }}">
                        </td>
                        <td>
                            <input type="number" name="cantidades[]" class="form-control text-center cantidad" value="{{ item.cantidad }}" min="1" onchange="actualizarSubtotal(this)">
                        </td>
                        <td>
                            <input type="text" name="precios[]"  class="form-control text-right precio" value="{{ item.precio_unitario|floatformat|intcomma }}"  onchange="actualizarSubtotal(this)">
                            <input type="hidden" class="precio-hidden" value="{{ item.precio_unitario }}">
                        </td>
                        <td class="subtotal text-right">
                            {{ item.subtotal|floatformat|intcomma }}
                            <input type="hidden" class="subtotal-hidden" value="{{ item.subtotal }}">
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm " data-id="{{ item.producto.id }}" onclick="quitarProducto(this)">
                                <i class="fa fa-times"></i>
                            </button>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            
            </table>
        
        </form>
    </section>
</div>

{% block extra_js %}

{{ form.media }}

<script>

document.addEventListener('DOMContentLoaded', function () {
    fetch('/list_bodegas/')
    .then(response => response.json())
    .then(data => {
        const select = document.getElementById('selectBodega');
        select.innerHTML = '<option value="">Seleccione una bodega</option>';

        data.bodegas.forEach(bodega => {  // <-- ¡Aquí va data.bodegas!
            const option = document.createElement('option');
            option.value = bodega.id_bodega;
            option.textContent = bodega.nombre + ' - ' + bodega.ciudad;
            select.appendChild(option);
        });
    })
    .catch(error => {
        console.error('Error al cargar las bodegas:', error);
        const select = document.getElementById('selectBodega');
        select.innerHTML = '<option value="">Error al cargar</option>';
    })
});

console.log("Hola Comprar Ver salida");

</script>
{% endblock %}

{% endblock %}