body {
    background: #202020;
    color: whitesmoke;
}

.centered{
    text-align:  center !important;
    vertical-align: middle !important;
}

.navbar{
    background: #404040;
    padding: 5px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    text-decoration: none;
}


.navbar ul li a {
    color: white;
}


.navbar ul li a:hover{
  color: aquamarine;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.card {
    background: whitesmoke;
    padding: 10px;
    margin-bottom:  2px;
    color: black;
}

.input{
    display: block;
}